{% extends 'base.html.twig' %}

{% block title %}Replay Index{% endblock %}

{% block body %}
    <div class="container">
        <section>
            {% for replay in replays %}
                {# @var summary \App\Utility\QuickReplaySummary #}
                {% set summary = summaries[replay.id] %}

                <div class="d-flex">
                    <div>
                        <time datetime="{{ replay.startTime | date('c') }}">
                            {{ replay.startTime | date('M d, Y') }}
                        </time>
                    </div>

                    <div>
                        {{ summary.winner | team_literal }} ({{ summary.winnerScore }}) vs ({{ summary.loserScore }}) {{ summary.loser | team_literal }}
                    </div>

                    <div>
                        {{ summary.duration }} minutes
                    </div>

                    <div>
                        <a href="{{ url('replay_show', { id: replay.id, filename: replay.fileName }) }}">
                            View Replay
                        </a>
                    </div>
                </div>
            {% endfor %}
        </section>
    </div>
{% endblock %}
