{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <p>{{ filename }}</p>
        <p>{{ duration }} minutes</p>
        <p>
            {{ winner | team_literal | title }} ({{ winner_score }}) vs ({{ loser_score }}) {{ loser | team_literal | title }}
        </p>

        <section>
            <h2>Scoreboard</h2>

            <table class="table--skinny" data-sortable="true">
                <thead>
                    <tr>
                        <th data-sort-case-insensitive="true">
                            Callsign
                        </th>
                        <th data-sort-cast="number">
                            Team
                        </th>
                        <th data-sort-cast="number">
                            Score
                        </th>
                        <th data-sort-cast="number">
                            Kills
                        </th>
                        <th data-sort-cast="number">
                            Deaths
                        </th>
                        <th data-sort-cast="number">
                            Team Kills
                        </th>
                    </tr>
                </thead>

                <tbody>
                    {% for player in players if player.score.kills != 0 and player.score.deaths != 0 %}
                        <tr>
                            <td>{{ player.callsign }}</td>
                            <td data-sort-value="{{ player.team }}">
                                <abbr title="{{ player.teamLiteral | title }} team">
                                    ({{ player.teamLiteral | upper | split('') | first }})
                                </abbr>
                            </td>
                            <td>{{ player.score.kills - player.score.deaths }}</td>
                            <td>{{ player.score.kills }}</td>
                            <td>{{ player.score.deaths }}</td>
                            <td>{{ player.score.teamKills }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </section>

        <section>
            <h2>Player Roster</h2>

            <div class="tabs" data-role="tablist" data-tab-desc="Player roster">
                {% for i, player in players if player.score.kills != 0 and player.score.deaths != 0 %}
                    <article
                        id="{{ player.callsign | slug }}"
                        class="tabs__tab"
                        data-role="tab"
                        data-tab-heading="{{ player.callsign }} ({{ player.teamLiteral | title }})"
                    >
                        <h2 class="sr-only">{{ player.callsign }}</h2>

                        <div class="row">
                            <div class="col-md-6">
                                callsign: {{ player.callsign }}
                            </div>
                            <div class="col-md-6">
                                <h3>
                                    <abbr title="Kills and deaths">K/D</abbr>
                                    Stats Against
                                </h3>

                                <table class="table--skinny">
                                    <thead>
                                        <tr>
                                            <th>Callsign</th>
                                            <th>Kills</th>
                                            <th>Deaths</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for j, stats in player.against %}
                                            <tr>
                                                <td>{{ players[j].callsign }}</td>
                                                <td>{{ stats.kills }}</td>
                                                <td>{{ stats.deaths }}</td>
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </article>
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
