{% extends 'base.html.twig' %}

{% from '_macros/versus-card.html.twig' import team_card %}

{% block body %}
    <div class="container">
        <div class="score-card row mb-4 py-4 border-b">
            {{ team_card(winner, winner_score) }}
            {{ team_card(loser, loser_score) }}
        </div>

        <div class="row">
            <div class="col-md-6">
                <h2>Recording Details</h2>

                <dl>
                    <dt>Timestamp</dt>
                    <dd>
                        <time datetime="{{ start | date('c') }}">
                            {{ start | date('F d, Y G:i e') }}
                        </time>
                    </dd>

                    <dt>Duration</dt>
                    <dd>{{ duration }} minutes</dd>

                    <dt>Filename</dt>
                    <dd>{{ filename }}</dd>
                </dl>
            </div>

            <div class="col-md-6">
                <section class="mb-3">
                    <h2>Scoreboard</h2>

                    <table class="table--skinny w-100" data-sortable="true">
                        <thead>
                            <tr>
                                <th class="w-100" data-sort-case-insensitive="true">
                                    Callsign
                                </th>
                                <th data-sort-cast="number">
                                    Team
                                </th>
                                <th
                                    data-sort-cast="number"
                                    data-sort-default
                                    data-sort="DESC"
                                >
                                    Score
                                </th>
                                <th data-sort-cast="number">
                                    Kills
                                </th>
                                <th data-sort-cast="number">
                                    Deaths
                                </th>
                                <th data-sort-cast="number">
                                    Team Kills
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for player in players %}
                                {% if player.score.kills != 0 and player.score.deaths != 0  %}
                                    <tr>
                                        <td>
                                            <span class="color-{{ player.teamLiteral }}-team">
                                                {{ player.callsign }}
                                            </span>
                                        </td>
                                        <td class="text-center" data-sort-value="{{ player.team }}">
                                            <abbr title="{{ player.teamLiteral | title }} team">
                                                ({{ player.teamLiteral | upper | split('') | first }})
                                            </abbr>
                                        </td>
                                        <td class="text-center">{{ player.score.kills - player.score.deaths }}</td>
                                        <td class="text-center">{{ player.score.kills }}</td>
                                        <td class="text-center">{{ player.score.deaths }}</td>
                                        <td class="text-center">{{ player.score.teamKills }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </section>
            </div>
        </div>

        <section class="border-t my-4 py-4">
            <h2>Flag Capture Timeline</h2>

            <ul class="mb-0">
                {% for flag_cap in flag_caps %}
                    {% set playerId = flag_cap.playerId %}
                    <li>
                        <time
                            datetime="{{ flag_cap.timestamp | date('c') }}"
                            title="{{ flag_cap.timestamp | date('F d, Y G:i e') }}"
                        >
                            {{ flag_cap.matchTime }}
                        </time>

                        <span class="color-{{ flag_cap.cappingTeam | team_literal }}-team">
                            {{ players[playerId].callsign }}
                        </span>

                        captured the

                        <span class="color-{{ flag_cap.cappedTeam | team_literal }}-team">
                            {{ flag_cap.cappedTeam | team_literal | title }}
                        </span>

                        team flag

                        (
                        {{ flag_cap.cappingTeam | team_literal | title }} ({{ flag_cap.cappingTeamScore }}) -
                        ({{ flag_cap.cappedTeamScore }}) {{ flag_cap.cappedTeam | team_literal | title }}
                        )
                    </li>
                {% endfor %}
            </ul>
        </section>

        <section class="border-t my-4 py-4">
            <h2>Player Roster</h2>

            <div class="tabs" data-role="tablist" data-tab-desc="Player roster">
                {% for i, player in players %}
                    {% if player.score.kills != 0 and player.score.deaths != 0 %}
                        <article
                            id="{{ player.callsign | slug }}"
                            class="tabs__tab"
                            data-role="tab"
                            data-tab-heading="{{ player.callsign }}"
                        >
                            <h2 class="sr-only">{{ player.callsign }}</h2>

                            <div class="row">
                                <div class="col-md-6">
                                    <dl>
                                        <dt>Callsign</dt>
                                        <dd>{{ player.callsign }}</dd>
                                    </dl>

                                    <h3>Flag Captures</h3>

                                    <ul>
                                        {% for cap in player.flagCaptures %}
                                            <li>
                                                {{ cap.matchTime }} Captured {{ cap.cappingTeam | team_literal | upper | slice(0, 1) }}*
                                                (Score: {{ cap.cappingTeamScore }} - {{ cap.cappedTeamScore }})
                                            </li>
                                        {% else %}
                                            <li>No caps this match</li>
                                        {% endfor %}
                                    </ul>
                                </div>
                                <div class="col-md-6">
                                    <h3 class="h4">
                                        <abbr title="Kills and deaths">K/D</abbr>
                                        Stats Against
                                    </h3>

                                    <table class="table--skinny w-100">
                                        <thead>
                                            <tr>
                                                <th class="w-100">Callsign</th>
                                                <th>Kills</th>
                                                <th>Deaths</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for j, stats in player.against %}
                                                <tr>
                                                    <td>
                                                        <span class="color-{{ players[j].teamLiteral }}-team">
                                                            {{ players[j].callsign }}
                                                        </span>
                                                    </td>
                                                    <td class="text-center">{{ stats.kills }}</td>
                                                    <td class="text-center">{{ stats.deaths }}</td>
                                                </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
