{% extends 'base.html.twig' %}

{% from '_macros/match-time.html.twig' import match_time %}
{% from '_macros/versus-card.html.twig' import team_card %}

{% set date_fmt = 'F d, Y g:ia' %}

{% block title %}
    {{ winner | team_literal | title }} Team vs {{ loser | team_literal | title }} Team
    [{{ winner_score }} - {{ loser_score }}] on
    {{ start | date(date_fmt, false) }} UTC
    :: BZFlag Postgame
{% endblock %}

{% block body %}
    <div class="container">
        <div class="score-card row mb-4 py-4 border-b">
            {{ team_card(winner, winner_score) }}
            {{ team_card(loser, loser_score) }}
        </div>

        <div class="row">
            <div class="col-lg-4">
                <h2>
                    Map
                    {% if map and map.name %}
                        -
                        <a href="{{ url('map_show', { map: map.id, slug: map.slug }) }}">
                            {{ map.name }}
                        </a>
                    {% endif %}
                </h2>

                {% if thumbnail %}
                    {{ thumbnail | map_thumbnail }}
                {% else %}
                    <p class="my-5 text-center"><em>No preview available</em></p>
                {% endif %}
            </div>

            <div class="col-lg-8">
                <section class="mb-3">
                    <h2>Scoreboard</h2>

                    <table class="table--skinny w-100" data-sortable="true">
                        <thead>
                            <tr>
                                <th class="w-100" data-sort-case-insensitive="true">
                                    Callsign
                                </th>
                                <th class="hide-xs show-md text-center" data-sort-cast="number">
                                    Team
                                </th>
                                <th
                                    class="text-center"
                                    data-sort-cast="number"
                                    data-sort-default
                                    data-sort="DESC"
                                >
                                    <abbr class="hide-md" title="Score">S</abbr>
                                    <span class="hide-xs show-md">Score</span>
                                </th>
                                <th class="text-center" data-sort-cast="number">
                                    <abbr class="hide-md" title="Kills">K</abbr>
                                    <span class="hide-xs show-md">Kills</span>
                                </th>
                                <th class="text-center" data-sort-cast="number">
                                    <abbr class="hide-md" title="Deaths">D</abbr>
                                    <span class="hide-xs show-md">Deaths</span>
                                </th>
                                <th class="text-center" data-sort-cast="number">
                                    <abbr class="hide-md" title="Team kills">TK</abbr>
                                    <span class="hide-xs show-md">Team Kills</span>
                                </th>
                            </tr>
                        </thead>

                        <tbody>
                            {% for id, player in players %}
                                {% if (player.score.kills != 0 or player.score.deaths != 0) and id != -1 %}
                                    <tr>
                                        <td>
                                            <span class="color-{{ player.teamLiteral }}-team">
                                                {{ player.callsign }}
                                            </span>
                                        </td>
                                        <td class="hide-xs show-md text-center" data-sort-value="{{ player.team }}">
                                            <abbr title="{{ player.teamLiteral | title }} team">
                                                ({{ player.teamLiteral | upper | split('') | first }})
                                            </abbr>
                                        </td>
                                        <td class="text-center">{{ player.score.kills - player.score.deaths }}</td>
                                        <td class="text-center">{{ player.score.kills }}</td>
                                        <td class="text-center">{{ player.score.deaths }}</td>
                                        <td class="text-center">{{ player.score.teamKills }}</td>
                                    </tr>
                                {% endif %}
                            {% endfor %}
                        </tbody>

                        <caption>
                            <p class="m-0">The final scores of all the participants of this match.</p>

                            <ul class="hide-md mt-3 mb-0" aria-hidden="true">
                                <li>
                                    <strong>S</strong> - Score
                                </li>
                                <li>
                                    <strong>K</strong> - Kills
                                </li>
                                <li>
                                    <strong>D</strong> - Deaths
                                </li>
                                <li>
                                    <strong>TK</strong> - Team Kills
                                </li>
                            </ul>
                        </caption>
                    </table>
                </section>
            </div>
        </div>

        <section class="border-t my-4 py-4">
            <div class="row">
                <div class="col-md-4">
                    <h2>Recording Details</h2>

                    <dl>
                        <dt>Timestamp</dt>
                        <dd>
                            <time
                                datetime="{{ start | date('c', false) }}"
                                data-format="{{ date_fmt | dayjs_fmt }}"
                            >
                                {{ start | date(date_fmt, false) }} UTC
                            </time>
                        </dd>

                        <dt>Duration</dt>
                        <dd>{{ duration }} minutes</dd>

                        <dt>Filename</dt>
                        <dd>{{ filename }}</dd>
                    </dl>
                </div>
                <div class="col-md-8">
                    <h2>Flag Capture Timeline</h2>

                    <ul class="flag-capture-timeline">
                        {% for flag_cap in flag_caps %}
                            {% set playerId = flag_cap.playerId %}
                            {% set isTied = flag_cap.cappedTeamScore == flag_cap.cappingTeamScore %}

                            <li class="flag-capture-event">
                                <span class="flag-capture-timestamp">
                                    {{ match_time(flag_cap.matchTime, flag_cap.timestamp) }}
                                </span>

                                <span class="flag-capture-description">
                                    <span class="color-{{ flag_cap.cappingTeam | team_literal }}-team">
                                        {{- players[playerId].callsign -}}
                                    </span>

                                    captured the

                                    <span class="color-{{ flag_cap.cappedTeam | team_literal }}-team no-cb-translation">
                                        {{- flag_cap.cappedTeam | team_literal | title -}}
                                    </span>

                                    team flag

                                    <span class="sr-only">. Score is now {{ isTied ? 'tied at' }},
                                        {{ flag_cap.cappingTeam | team_literal }} team, {{ flag_cap.cappingTeamScore }},
                                        {{ flag_cap.cappedTeam | team_literal }} team, {{ flag_cap.cappedTeamScore }}.
                                    </span>
                                </span>

                                <span class="flag-capture-score capping" aria-hidden="true">
                                    <span class="team-score">
                                        <span class="flag-capture-score__team">
                                            {{ flag_cap.cappingTeam | team_literal | title }}
                                        </span>

                                        <span class="flag-capture-score__points">
                                            [{{ flag_cap.cappingTeamScore }}]
                                        </span>
                                    </span>
                                </span>

                                <span class="flag-capture-score capped" aria-hidden="true">
                                    <span class="team-score">
                                        <span class="flag-capture-score__team">
                                            {{ flag_cap.cappedTeam | team_literal | title }}
                                        </span>

                                        <span class="flag-capture-score__points">
                                            [{{ flag_cap.cappedTeamScore }}]
                                        </span>
                                    </span>
                                </span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </section>

        <section class="border-t my-4 py-4">
            <h2>Public Chat</h2>

            <div>
                {% for message in messages %}
                    <p class="m-0">
                        {{ match_time(message.matchTime, message.timestamp) }}

                        <span class="color-{{ players[message.sender].teamLiteral }}-team">
                            {{- players[message.sender].callsign -}}

                            <span aria-hidden="true">:</span>
                            <span class="sr-only">said &nbsp;</span>
                        </span>

                        <span>
                            {{ message.message }}
                        </span>
                    </p>
                {% endfor %}
            </div>
        </section>

        <section class="border-t my-4 py-4">
            <h2>Player Roster</h2>

            <div class="tabs" data-role="tablist" data-tab-desc="Player roster">
                {% for i, player in players %}
                    {% if (player.score.kills != 0 or player.score.deaths != 0) and i != -1 %}
                        <article
                            id="{{ player.callsign | slug }}"
                            class="tabs__tab"
                            data-role="tab"
                            data-tab-heading="{{ player.callsign }}"
                        >
                            <h2 class="sr-only">{{ player.callsign }}</h2>

                            <div class="row">
                                <div class="col-lg-6">
                                    <section class="mb-4">
                                        <h4>Flag Captures</h4>

                                        <ul class="list-inline mb-0">
                                            {% for cap in player.flagCaptures %}
                                                <li>
                                                    {{ match_time(cap.matchTime, cap.timestamp) }}
                                                    Captured the

                                                    <span class="color-{{ cap.cappingTeam | team_literal }}-team no-cb-translation">
                                                        {{ cap.cappingTeam | team_literal | title }}
                                                    </span>

                                                    team flag (Score: {{ cap.cappingTeamScore }} - {{ cap.cappedTeamScore }})
                                                </li>
                                            {% else %}
                                                <li>No caps this match</li>
                                            {% endfor %}
                                        </ul>
                                    </section>

                                    <section class="mb-4 mb-lg-0">
                                        <h4>
                                            <abbr title="Kills and deaths">K/D</abbr>
                                            Stats Against
                                        </h4>

                                        <table class="table--skinny w-100" data-sortable="true">
                                            <thead>
                                                <tr>
                                                    <th
                                                        class="w-100"
                                                        data-sort-case-insensitive="true"
                                                        data-sort-default
                                                        data-sort="ASC"
                                                    >
                                                        Callsign
                                                    </th>
                                                    <th data-sort-cast="number">
                                                        <abbr title="Kills against" class="hide-md">K</abbr>
                                                        <span class="hide-xs show-md">Kill against</span>
                                                    </th>
                                                    <th data-sort-cast="number">
                                                        <abbr title="Deaths by" class="hide-md">D</abbr>
                                                        <span class="hide-xs show-md">Deaths by</span>
                                                    </th>
                                                </tr>
                                            </thead>

                                            <tbody>
                                                {% for j, stats in player.against %}
                                                    <tr>
                                                        <td>
                                                            <span class="color-{{ players[j].teamLiteral }}-team">
                                                                {{ players[j].callsign }}
                                                            </span>
                                                        </td>
                                                        <td class="text-center">{{ stats.kills }}</td>
                                                        <td class="text-center">{{ stats.deaths }}</td>
                                                    </tr>
                                                {% endfor %}
                                            </tbody>

                                            <caption>
                                                <p class="m-0">The kill to death ratios of {{ player.callsign }} against the rest of the players.</p>

                                                <ul class="hide-md mt-3 mb-0" aria-hidden="true">
                                                    <li>
                                                        <strong>K</strong> - Number of times {{ player.callsign }} killed said player
                                                    </li>
                                                    <li>
                                                        <strong>D</strong> - Number of times {{ player.callsign }} was killed by said player
                                                    </li>
                                                </ul>
                                            </caption>
                                        </table>
                                    </section>
                                </div>
                                <div class="col-lg-4 offset-lg-2">
                                    <section>
                                        <h4>Heatmap</h4>

                                        <figure>
                                            {% set heatmap = heatmaps[player.callsign] %}
                                            {% if heatmap %}
                                                {% set styles = [
                                                    '-webkit-mask-image: url(%s)' | format(thumbnail | map_url),
                                                    'mask-image: url(%s)' | format(thumbnail | map_url),
                                                ] %}
                                                <div class="heat-map">
                                                    <div class="map-overlay" style="{{ styles | join(';') }}"></div>
                                                    {{ heatmap | heatmap_thumbnail }}
                                                </div>

                                                <figcaption class="background-dark p-2 small text-muted">
                                                    A heat map representing {{ player.callsign }}'s movement across the map during the match.
                                                </figcaption>
                                            {% else %}
                                                <div class="background-dark perfect-square">
                                                    <p class="mb-0 position-abs-v-center text-center w-100">
                                                        <em>No heatmap available</em>
                                                    </p>
                                                </div>
                                            {% endif %}
                                        </figure>

                                        <div class="show-js small text-right text-muted">
                                            <label class="d-inline-block mb-0">
                                                <input type="checkbox" data-role="show-map-overlay"> Show Map Overlay
                                            </label>
                                        </div>
                                    </section>
                                </div>
                            </div>
                        </article>
                    {% endif %}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}
