{% extends 'base.html.twig' %}

{% block title %}Activity Dashboard :: BZFlag Postgame{% endblock %}

{% macro render_table(title, headers, data, caption, classes) %}
    <section>
        <h2 class="mt-2 mb-3">{{ title }}</h2>

        <table class="table--skinny w-100">
            <thead>
                <tr>
                    {% for header in headers %}
                        <th class="{{ classes[loop.index0] }}">{{ header }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
                {% for row in data %}
                    <tr>
                        {% for column in row %}
                            <td class="{{ classes[loop.index0] }}">{{ column }}</td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>

            <caption>
                {{ caption }}
            </caption>
        </table>
    </section>
{% endmacro %}

{% block body %}
    {% from _self import render_table %}
    {% from '_macros/charts.html.twig' import make_chart %}

    {% set classes = ['w-100', 'text-center'] %}

    <div class="container">
        <h1 class="mt-3">Activity Dashboard</h1>

        <div>
            {{ make_chart('match_activity', url('api_summary_replays'), 'Matches/Day') }}
        </div>

        <div class="row">
            <div class="col-md-6">
                {{ render_table(
                    'Most Active Players',
                    ['Callsign', 'Match Count'],
                    top_players,
                    'The top ' ~ top_players | length ~ ' players who have participated in the most matches in the past 90 days.',
                    classes
                ) }}
            </div>

            <div class="col-md-6">
                {{ render_table(
                    'Most Flag Captures',
                    ['Callsign', 'Cap Count'],
                    top_cappers,
                    'The ' ~ top_cappers | length ~ ' players who have captured the enemy flag the most in the past 90 days.',
                    classes
                ) }}
            </div>

            <div class="col-md-6">
                {{ render_table(
                    'Top Killers',
                    ['Callsign', 'Kill Count'],
                    top_killers,
                    'The top ' ~ top_killers | length ~ ' players who have killed the most players in the past 90 days.',
                    classes
                ) }}
            </div>

            <div class="col-md-6">
                {{ render_table(
                    'Top Victims',
                    ['Callsign', 'Death Count'],
                    top_victims,
                    'The top ' ~ top_victims | length ~ ' players who have been killed the most in the past 90 days.',
                    classes
                ) }}
            </div>
        </div>
    </div>
{% endblock %}
